/1. Java Objectives/Task1_Circle/nbproject/private/
/1. Java Objectives/Task1_Circle/build/
/1. Java Objectives/Task1_Sircle/target/
/1. Java Objectives/Oblig1Oppgave1/nbproject/private/
/1. Java Objectives/Oblig1Oppgave1/build/
/1. Java Objectives/CircleCalculator/nbproject/private/
/1. Java Objectives/Test/nbproject/private/
/1. Java Objectives/CircleCalculator/build/
